<!doctype html>
<html lang="en">
  <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>网管理系统</title>	  
        <!-- CSS -->
        <link rel="stylesheet" href="<?php echo '/'.ADNAME.'/';?>resources/css/inc.css" type="text/css" media="screen" />	  
		<!-- jQuery -->
        <script type="text/javascript" src="/style/js/jquery-1.3.2.min.js"></script>
        <!-- jQuery Configuration -->
		<script type="text/javascript" src="<?php echo '/'.ADNAME.'/';?>resources/scripts/simpla.jquery.configuration.js"></script>
    </head>    
    <body>
        <div id="jm-right">
    
            
            <!-- 文章列表，添加 -->
			<div class="content-box"><!-- Start Content Box -->
				
				<div class="content-box-header">
					
                    <h3>文章过滤器  <?php  //echo $editQuery['class_title'];?></h3>
                    <span></span>					
					<div class="clear"></div>
					
				</div> <!-- End .content-box-header -->
				
				<div class="content-box-content">
					
					<div class="tab-content default-tab" id="tab1"> 
											

						<form action="" method="post">
							
							<fieldset>
                                 <p>
									<label>描述</label>
									<textarea class="text-input textarea wysiwyg" id="textarea"  name="remark" cols="90%" rows="30"><?php echo $cont; ?></textarea>
								</p>
								<p>
									<input class="button" type="submit"  value="确定提交" name="Update" />
								</p>
								
							</fieldset>
							
							<div class="clear"></div><!-- End .clear -->
							
						</form>
						
					</div> <!-- End #tab2 -->        
					
				</div> <!-- End .content-box-content -->
				
			</div> <!-- End .content-box -->
            </div><!-- End #jm-right -->


<div class="clear"></div> <!-- End .clear -->

	</body>
</html>
